@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
header {
    padding: 2rem;
    background-color: #252525;
}

.menu-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-menu-horizontal {
    display: flex;
    align-items: center;
    list-style: none;
    gap: .8rem;
}

.lista-menu-horizontal li {
    padding: .8rem;
}

.lista-menu-horizontal li a {
    text-decoration: none;
    color: #FFB800;
    font-family: 'Permanent Marker', cursive;
}