@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.container {
    text-align: center;
    margin-bottom: 8px;
    height: 500px;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
    top: 80px;
}

h1 {
    color: #FFB800;
    font-family: 'Permanent Marker', cursive;
    position: relative;
    top: 80px;
    width: 300px;
    font-size: 30px;
}

.sub-titulo {
    position: relative;
    top: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
}


/* Menu por enquanto está horizontal + a intensao é deixar horizontal, não consegui deixar no canto esquerdo
da pagina */

#menu-vertical ul {
    display: flex;
    padding: 80px;
    list-style: none;
    bottom: 150px;
    justify-content: left;
}

#menu-vertical ul li {
    padding: 15px;
    justify-content: left;
}