@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu-horizontal ul {
    padding: 0;
    list-style: none;
    text-align: right;
    /* position: relative;
    bottom: 30px; */
}

#menu-horizontal ul li {
    display: inline;
}

#menu-horizontal ul li a {
    color: #FFB800;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
}

#menu-horizontal ul li a:hover {
    color: #9e8b5a;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
    top: 80px;
}

h1 {
    color: #FFB800;
    font-family: 'Permanent Marker', cursive;
    position: relative;
    top: 80px;
    width: 300px;
    font-size: 30px;
}

.sub-titulo {
    position: relative;
    top: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

#menu-vertical ul {
    padding: 15px;
    list-style: none;
    text-align: left;
    position: relative;
    bottom: 150px;
}

#menu-vertical ul li {
    display: block;
    padding: 15px;
    text-align: left;
}

.container {
    /* margin: 10px 20px; */
    text-align: center;
    margin-bottom: 8px;
    height: 500px;
}

body {
    background-color: black;
}


/* .titulo1 {
    position: relative;
    bottom: 30px;
} */

.sobre {
    margin: 0;
    background-color: #252525;
    padding: 20px;
}

#titulo {
    color: #FFB800;
    font-family: 'Permanent Marker', cursive;
    position: relative;
    width: 300px;
    font-size: 30px;
    text-align: center;
    font-size: 30px;
}

p {
    color: white;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 30px;
    text-align: center;
    height: 300px;
    width: 400px;
}

.habilidades {
    height: 300px;
}

.titulo1 {
    color: #FFB800;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    padding: 20px;
    font-size: 30px;
}

.img-habilidades {
    text-align: center;
    position: relative;
    top: 30px;
}